/*GoogleFonts読み込み*/
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@400;500&family=Kosugi+Maru&family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
:root {
    --bg-color: transparent;
    background: var(--bg-color);
    --font-family: "Kosugi Maru", sans-serif;
    font-family: var(--font-family);
    font-weight: 400;
    font-style: normal;
    /*Surface*/
    --time-container-bg: #fff;
    /*On Primary*/
    --date-color: #fff;
    /*Primary*/
    --date-bg: #000;
    /*Tertiary*/
    --live-color: #000;
    /*On Secondary Container*/
    --time-color: #000;
    /*Secondary Container*/
    --time-bg: #e0e0e0;
}

/*時計*/
#time-container {
    padding: 10px;
    width: fit-content;
    height: fit-content;
    background-color: var(--time-container-bg);
    border-radius: 30px;
}
.time-content {
    margin: 0;
    width: fit-content;
    height: fit-content;
}
#time-container-top {
    display: flex;
}
/*日付*/
#calendar {
    margin: 0 10px 5px 0;
    padding: 10px;
    color: var(--date-color);
    background-color: var(--date-bg);
    border-radius: 20px;
}
#date {
    font-size: 20px;
    line-height: 20px;
}
#day {
    font-size: 16px;
    line-height: 16px;
}
/*Live*/
.live {
    margin-bottom: 10px;
    padding: 10px 0;
}
#live-icon {
    filter: invert(37%) sepia(73%) saturate(3942%) hue-rotate(341deg) brightness(92%) contrast(92%);
    vertical-align: top;
    animation: anime-live 5s infinite;
}
#live-text {
    color: var(--live-color);
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
}
#live-text-anime {
    animation: anime-live-text 5s infinite;
}
@keyframes anime-live {
    0% {
        transform: rotateY(0);    
    }
    88% {
        transform: rotateY(360deg);
    }
    100% {
        rotate: rotateY(0);
    }
}
@keyframes anime-live-text {
    0% {
        transform: translateY(0);
    }
    82% {
        transform: translateY(0);
    }
    86% {
        transform: translateY(-5px);
    }
    90% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(0);
    }
}
/*時間*/
#time {
    padding: 10px 20px;
    color: var(--time-color);
    background-color: var(--time-bg);
    border-radius: 20px;
    font-size: 60px;
    line-height: 60px;
}

/*コントロールパネル*/
#control {
    height: 100%;
    width: 460px;
    max-width: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
#panel-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 20px;
}
#panel-open {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 20px;
    display: none;
}

/*コントロールへのリンク*/
footer {
    width: fit-content;
    padding: 10px 20px;
    border-radius: 22.5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    background: #000;
    transition: all 0.4s 0s ease;
}
a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    line-height: 25px;
}
footer:hover {
    background: #e0e0e0;
}
footer:hover a {
    color: #000;
}
