/*GoogleFonts読み込み*/
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@400;500&family=Kosugi+Maru&family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

:root {
    background: #c0c0c0;
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*各タイトル*/
hr {
    margin-top: 20px;
    border: solid 1px #000;
}
.container-hedder {
    margin: 10px 0 0 10px;
    display: flex;
    flex-wrap: wrap;
}
.container-hedder h2 {
    width: fit-content;
    height: fit-content;
    margin: 0;
    margin: 10px 5px 10px 10px;
    padding: 0;
    font-size: 24px;
    line-height: 26px;
}
.open-form {
    width: fit-content;
    height: fit-content;
    margin: 10px 5px;
    padding: 5px 10px;
    background: #000;
    color: #fff;
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    border: none;
    border-radius: 13px;
    transition: all 0.4s 0s ease;
}
.open-form:hover {
    background: #e8e8e8;
    color: #000;
}
#custom-color-notification {
    margin: 0 10px 0 5px;
    padding: 0;
    width: fit-content;
    height: fit-content;
    display: none;
}
.notification-icon {
    width: 20px;
    height: 20px;
    margin: 13px 2px 13px 0;
    filter: invert(37%) sepia(73%) saturate(3942%) hue-rotate(341deg) brightness(92%) contrast(92%);
    vertical-align: bottom;
}
.color-custom-notification {
    width: fit-content;
    height: fit-content;
    margin: 15px 0 15px 2px;
    padding: 0;
    font-size: 16px;
    line-height: 16px;
}

/*選択パネル共通*/
.input-box {
    margin: 5px;
    padding: 10px;
    width: 200px;
    height: fit-content;
    background: #fff;
    border-radius: 30px;
    box-sizing: border-box;
}
.change-button {
    width: 160px;
    padding: 10px;
    background: #000;
    color: #fff;
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    border: none;
    border-radius: 20px;
    transition: all 0.4s 0s ease;
}
.change-button:hover {
    background: #e8e8e8;
    color: #000;
}
.input-box p {
    margin: 10px 0 0 0;
    padding: 20px;
    background: #e0e0e0;
    font-size: 16px;
    line-height: 20px;
    border-radius: 20px;
}

/*背景切替パネル*/
#bg-container {
    margin-top: 20px;
}

/*テーマ切替パネル*/
#color-container {
    display: flex;
    flex-wrap: wrap;
}
#blue-box {
    background: #f7f9ff;
}
#blue-box .change-button {
    background: #28638a;
    color: #fff;
    transition: all 0.4s 0s ease;
}
#blue-box .change-button:hover {
    background: #cae6ff;
    color: #001e30;
}
#blue-box p {
    background: #d3e5f6;
}
#pink-box {
    background: #fff8f8;
}
#pink-box .change-button {
    background: #874b6c;
    color: #fff;
    transition: all 0.4s 0s ease;
}
#pink-box .change-button:hover {
    background: #ffd8e9;
    color: #380727;
}
#pink-box p {
    background: #fcd9e8;
}
#yellow-box {
    background: #fff8f8;
}
#yellow-box .change-button {
    background: #867631;
    color: #fff;
    transition: all 0.4s 0s ease;
}
#yellow-box .change-button:hover {
    background: #f7ebc2;
    color: #221b00;
}
#yellow-box p {
    background: #eee2bc;
}

/*カラーカスタム設定*/
@media screen and (max-width: 460px) {
    #color-form{
        max-width: 300px;

    }
}
#color-form {
    margin: 0 5px 10px;
    padding: 5px;
    max-width: 900px;
    height: fit-content;
    background: #fff;
    border-radius: 30px;
    display: none;
    flex-wrap: wrap;
}
.form-content {
    margin: 5px;
    padding: 10px;
    width: 120px;
    background: #e0e0e0;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border-radius: 20px;
}
.form-label {
    margin-bottom: 5px;
    display: block;
    font-size: 16px;
    line-height: 20px;
}
.form-input {
    margin: 0 auto;
    display: block;
}
#sent-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#sent-color-code {
    width: 80px;
    height: fit-content;
    margin: 5px;
    padding: 10px;
    background: #000;
    color: #fff;
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    border: none;
    border-radius: 20px;
    transition: all 0.4s 0s ease;
}
#sent-color-code:hover {
    background: #e8e8e8;
    color: #000;
}
#panel-close {
    width: 40px;
    height: 40px;
    margin: 5px;
    vertical-align: top;
}

/*フォント切替パネル*/
#font-container {
    display: flex;
    flex-wrap: wrap;
}
#font-container p {
    font-size: 24px;
    line-height: 24px;
}
#kosugi-box {
    font-family: "Kosugi Maru", sans-serif;
}
#mround-box {
    font-family: "M PLUS Rounded 1c", sans-serif;
}
#kiwi-box {
    font-family: "Kiwi Maru", sans-serif;
}
#noto-box {
    font-family: "Noto Sans JP", sans-serif;
}
